
<div class="home-grid-container">
  <div class="card-profile">
    <%= image_tag "profilepic.JPG", alt: "Fabio" %>
    <h2>About me</h2>
    <p>Passionate about problem-solving and innovation, I have experience in both engineering and culinary fields. After pursuing my passion for food by opening and managing a successful restaurant, I am now returning to my roots in engineering with a focus on web development. I am a quick learner, adaptable, and thrive in fast-paced environments. My diverse background has given me a unique perspective and skill set that I am eager to apply to new challenges.</p>
  </div>

  <div class="container-skills">
    <div class="card-skills">
      <h2>Projects</h2>
    </div>

    <div class="card-projects">
      <h2>Skills</h2>
    </div>
  </div>

</div>
